<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="https://mcusercontent.com/64d7f376315f7c9df04b6189c/images/ea93fbb1-d738-e52d-29e2-07ee99a188d7.png">
    <title>Score Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../public/css/quiz.css">
</head>
<body>
    <div class="container">
       <div class="results">
        <i class="fa fa-trophy iconn" aria-hidden="true"></i>
        <h3 id="userName"></h3>
        <h3 id="userScore"></h3>
        <button type="button" class="btn btn-small" id="restart">start again</button>
       </div>
    </div>

    <script src="../public/js/end.js"></script>
</body>
</html>