<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="https://mcusercontent.com/64d7f376315f7c9df04b6189c/images/ea93fbb1-d738-e52d-29e2-07ee99a188d7.png">
    <title>Quiz Welcome Page</title>
   <link rel="stylesheet" href="../public/css/quiz.css">
</head>
<body>
    <div class="container">
        <form action="" method="" class="welcome" onsubmit="submitData(event)">
           <label for="name" id="warn" class="warning"></label>
            <input type="text" id="name" autocomplete="off" placeholder="Enter Your Name">
            <button type="submit" class="btn">Let's Start</button>
        </form>
    </div>
   
    <script src="../public/js/quiz.js"></script>
</body>
</html>
