<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="https://mcusercontent.com/64d7f376315f7c9df04b6189c/images/ea93fbb1-d738-e52d-29e2-07ee99a188d7.png">
    <title>Quiz On</title>
    <link rel="stylesheet" href="../public/css/quiz.css">
</head>
<body>
    <div class="container">
        <div class="quizBox">
            <h1 id="question" class="question">First Question is here?</h1>
            <ul>
                <li>
                    <input type="radio" name="answer" id="ans1" class="answer">
                    <label for="" id="option1"> first Option </label>
                </li>
                <li>
                    <input type="radio" name="answer" id="ans2" class="answer">
                    <label for="" id="option2"> second Option </label>
                </li>
                <li>
                    <input type="radio" name="answer" id="ans3" class="answer">
                    <label for="" id="option3"> third Option </label>
                </li>
                <li>
                    <input type="radio" name="answer" id="ans4" class="answer">
                    <label for="" id="option4"> forth Option </label>
                </li>
            </ul>
            <button type="submit" class="btn btn-small" id="submit">Submit</button>
        </div>
    </div>

    <script src="../public/js/quiz.js"></script>
</body>
</html>